@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <div class="nav-right">
        <button type="button"><a href="~/cart"><ion-icon name="cart-outline"></ion-icon></a></button>
        <button><a href="~/info"><ion-icon name="person-outline"></ion-icon>@User.Identity.GetUserName()</a></button>
        <button><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></button>
    </div>
    }
}
else
{
<div class="nav-right">
    <button type="button"><a href="~/cart"><ion-icon name="cart-outline"></ion-icon></a></button>
    <button><a>@Html.ActionLink("Đăng ký", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</a></button>
    <button><a>@Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</a></button>
</div>
}
