@{
    ViewBag.Title = "Danh mục sản phẩm";
}
<head>
    <link href="~/Style/myShopPage.css" rel="stylesheet" type="text/css" />
    <script src="~/Assets/clientService.js"></script>
    <script src="~/Assets/clientController.js"></script>
</head>
<body ng-app="myApp" ng-controller="sellerController">
    <div class="col-12 seller">
        

    
        <div class="notice col-2">

        </div>
    </div>
</body>
