<!-- live chat support G -->
<div class="live-chat-support">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="live-chat-support-content">
                    <div class="live-chat-support-content-left">
                        <h2>Live Chat Support</h2>
                        <p>Our live chat support is available 24/7. We are here to help you with any questions you may have. Our team of experts are ready to assist you with any issues you may have. We are here to help you with any questions you may have. Our team of experts are ready to assist you with any issues you may have.</p>
                        <a href="#" class="btn btn-primary">Get Started</a>
                    </div>
                    <div class="live-chat-support-content-right">
                        <img src="~/Content/Advance_service/images/live-chat-support.png" alt="Live Chat Support">
                    </div>
                </div>
            </div>
        </div>
    </div></div>
<div class="live-chat-support-features">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="feature-item">
                    <i class="fa fa-comments"></i>
                    <h3>Real-time Chat</h3>
                    <p>Engage with your customers in real-time through our live chat feature. Provide instant support and build strong customer relationships.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-item">
                    <i class="fa fa-shield"></i>
                    <h3>Secure Communication</h3>
                    <p>Your conversations with customers are encrypted and secure. Rest assured that your data and customer information are protected.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="live-chat-support-testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>What Our Customers Say</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="testimonial-item">
                    <div class="testimonial-content">
                        <p>"The live chat support has been a game-changer for our business. We can now provide instant assistance to our customers and close deals faster."</p>
                    </div>
                    <div class="testimonial-author">
                        <img src="~/Content/Advance_service/images/testimonial-author-1.jpg" alt="Testimonial Author">
                        <h4>John Doe</h4>
                        <span>CEO, ABC Company</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial-item">
                    <div class="testimonial-content">
                        <p>"The live chat support has helped us increase our sales. We can now engage with potential customers and address their concerns in real-time."</p>
                    </div>
                    <div class="testimonial-author">
                        <img src="~/Content/Advance_service/images/testimonial-author-3.jpg" alt="Testimonial Author">
                        <h4>Mike Johnson</h4>
                        <span>Sales Representative, PQR Company</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
