@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Đại học Bách Khoa Hà Nội<br />
        Số 1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội<br />
        <abbr title="Phone">P:</abbr>
        0123456789
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    </address>
</main>