@{
    ViewBag.Title = "WEB BÁN HÀNG";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Web Bán Hàng</h1>
        <p class="lead">Web Bán Hàng là trang mua bán hàng đầu!</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Áo thun</h2>
            <p>
                Áo thun mùa hè thoáng mát, giúp tránh mồ hôi và thoải mái vận động
            </p>
            <p><a class="btn btn-outline-dark" href="">Mua &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="gettingStartedTitle">Áo thun</h2>
            <p>
                Áo thun mùa hè thoáng mát, giúp tránh mồ hôi và thoải mái vận động
            </p>
            <p><a class="btn btn-outline-dark" href="">Mua &raquo;@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="gettingStartedTitle">Áo thun</h2>
            <p>
                Áo thun mùa hè thoáng mát, giúp tránh mồ hôi và thoải mái vận động
            </p>
            <p><a class="btn btn-outline-dark" href="">Mua &raquo;</a></p>
        </section>
    </div>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Áo thun</h2>
            <p>
                Áo thun mùa hè thoáng mát, giúp tránh mồ hôi và thoải mái vận động
            </p>
            <p><a class="btn btn-outline-dark" href="">Mua &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="gettingStartedTitle">Áo thun</h2>
            <p>
                Áo thun mùa hè thoáng mát, giúp tránh mồ hôi và thoải mái vận động
            </p>
            <p><a class="btn btn-outline-dark" href="">Mua &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="gettingStartedTitle">Áo thun</h2>
            <p>
                Áo thun mùa hè thoáng mát, giúp tránh mồ hôi và thoải mái vận động
            </p>
            <p><a class="btn btn-outline-dark" href="">Mua &raquo;</a></p>
        </section>
    </div>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Áo thun</h2>
            <p>
                Áo thun mùa hè thoáng mát, giúp tránh mồ hôi và thoải mái vận động
            </p>
            <p><a class="btn btn-outline-dark" href="">Mua &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="gettingStartedTitle">Áo thun</h2>
            <p>
                Áo thun mùa hè thoáng mát, giúp tránh mồ hôi và thoải mái vận động
            </p>
            <p><a class="btn btn-outline-dark" href="">Mua &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="gettingStartedTitle">Áo thun</h2>
            <p>
                Áo thun mùa hè thoáng mát, giúp tránh mồ hôi và thoải mái vận động
            </p>
            <p><a class="btn btn-outline-dark" href="">Mua &raquo;</a></p>
        </section>
    </div>
</main>